@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* @layer base {
  body {
    @apply font-primary text-primary;
  }
} */

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */